{% extends 'blog_base.html' %}
{% load static %}

{% block title %}Listado{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">{% endblock css %}
    
{% block content %}
<div class="container-fluid">
    <h1>Lista de posts</h1>
        <div class="row row-cols-1 row-cols-md-4">
            {% for post in posts %}
                <div class="col mb-4">
                    <div class="card h-100">
                        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{post.title|capfirst}}</a></h5>
                            {% comment %} DATE FORMATS: https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date {% endcomment %}
                            <p class="card-text"><small class="text-muted">{{post.publish|date:"F j, Y"}}</small></p>
                            {% comment %} https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#truncatechars {% endcomment %}
                            <p class="card-text card-paragraph">{{post.body|truncatewords:30}}</p>
                            <p class="card-author">{{post.author.full_name}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>   
        
    <nav>
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a
                class="page-link"
                href="?page={{page_obj.previous_page_number}}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">Anterior</a>
            </li>
        {% endif %}
        {% for pagenum in page_obj.paginator.page_range %}
            <li
            class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
            <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente</a>
            </li>
        {% endif %}
        </ul>
    </nav>
</div>
    
{% endblock content %}