{% extends 'blog_base.html' %}
{% load static %}

{% include "pagination.html" with page=posts %}

{% block title %}Listado{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">{% endblock css %}
    
{% block content %}

{% if not date_list and not tag %}
<div class="container-fluid index-cover">
    <div class="container index-container">
        <div class="main-logos">
            <img src="{% static 'blog/img/python-logo.png' %}" alt="python-logo">
            <img src="{% static 'blog/img/django-logo.png' %}" alt="django-logo">
        </div>
        <div>
            <img src="{% static 'blog/img/pictureProfile.png' %} " alt="image-profile">
        </div>
        <div>
            <h1>Diego Martino Guzmán</h1>
            <p>Desarrollador Python/Django. Trabajo en una start-up de viajes, la empresa cuenta con un grupo de inversores y un equipo internacional, ademas de un ambiente multicultural muy interesante.</p>
        </div>
        <div class="social-container">
            <ul class="list-group list-group-horizontal social-list">
                <li><a href="#"></a><i class="fab fa-facebook-f"></i></li>
                <li><a href="#"></a><i class="fab fa-twitter"></i></li>
                <li><a href="#"></a><i class="fab fa-pinterest"></i></li>
                <li><a href="#"></a><i class="fab fa-linkedin-in"></i></li>
                <li><a href="#"></a><i class="fab fa-xing"></i></li>
                <li><a href="#"></a><i class="fas fa-paper-plane"></i></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid post-list">
    {% if tag %}
        <h3 class="tag-filter">Posts tagged with: {{ tag }}</h3>
    {% endif %}
    
    {% if year %}
        <h3 class="tag-filter">Posts published in {{ year|date:"Y" }}</h3>
    {% elif  month %}
        	<h3 class="tag-filter">Posts published in {{ month|date:"F, Y" }}</h3>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2">
        {% for post in posts %}
            <div class="col mb-4">
                <div class="card card-index">
                    <div class="card-body">
                        <div class="tags">
                            {% for tag in post.tags.all %}
                                <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{tag.name}}</a>
                            {% endfor %}
                        </div>
                        <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{post.title|capfirst}}</a></h5>
                        {% comment %} DATE FORMATS: https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date {% endcomment %}
                        <p class="card-text"><small class="text-muted">{{post.publish|date:"F j, Y - G:i"}}</small></p>
                        {% comment %} https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#truncatechars {% endcomment %}
                        <div class="post-image">
                            <img src="{% static 'blog/img/post-img/natureview1.jpg' %} " alt="">
                        </div>
                        <div class="card-last">
                            <p class="card-text card-paragraph">{{post.body|truncatewords:40}}</p>
                        </div>
                    </div>
                    <div class="card-button">
                                <a href="{{ post.get_absolute_url }}"><button>Continue reading</button></a>
                            </div>
                    <div class="card-footer">
                        <a href="{% url "blog:post_share" post.id %}">Compartir</a>
                        {% comment %} <p class="card-author">{{post.author.full_name}}</p>  {% endcomment %}   
                        <div class="card-text card-paragraph">
                            {% with post.comments.count as total_comments %}
                                <a href="{{ post.get_absolute_url }}">
                                    {{ total_comments }} Comentario{{ total_comments|pluralize }}
                                </a>
                            {% endwith %}
                        </div>                            
                    </div>    
                </div>
            </div>
        {% endfor %}
    </div>


    <nav>
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a
                class="page-link"
                href="?page={{page_obj.previous_page_number}}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">Anterior</a>
            </li>
        {% endif %}
        {% for pagenum in page_obj.paginator.page_range %}
            <li
            class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
            <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente</a>
            </li>
        {% endif %}
        </ul>
    </nav>
</div>
    
{% endblock content %}