{% extends 'blog_base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/contact.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid post-detail">
    <div class="row row-cols-1 row-cols-md-1">
            <div class="col mb-4">
                <div class="card card-index">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title|capfirst}}</h5>
                        <p class="card-text"><small class="text-muted">{{post.publish|date:"F j, Y - G:i"}}</small></p>
                        <div class="post-image">
                            <img src="{% static 'blog/img/post-img/natureview1.jpg' %} " alt="">
                        </div>
                        <div class="card-last">
                            <p class="card-text card-paragraph">{{post.body|safe}}</p>
                        </div>
                    </div>  
                </div>
            </div>
    </div>
</div>

<div class="container-fluid comments-contanier">
    <div class="container-fluid">
        <div class="related-post-container">
            <div class="related-comm-title">
                <h5>Publicaciones relacionadas</h5>
            </div>
            <div class="card-deck">
            {% for post in related_posts %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{post.title|capfirst}}</a></h5>
                    <p class="card-text"><small class="text-muted">{{post.publish|date:"F j, Y - G:i"}}</small></p>
                    <div class="card-last">
                        <p class="card-text card-paragraph">{{post.body|truncatewords:30}}</p>
                    </div>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">{{post.author.full_name}}</small>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="comments-contanier">
        <div class="social-container">
            <ul class="list-group list-group-horizontal social-list">
                <li><a href="#"></a><i class="fab fa-facebook-f"></i></li>
                <li><a href="#"></a><i class="fab fa-twitter"></i></li>
                <li><a href="#"></a><i class="fab fa-pinterest"></i></li>
                <li><a href="#"></a><i class="fab fa-linkedin-in"></i></li>
                <li><a href="#"></a><i class="fab fa-xing"></i></li>
                <li><a href="#"></a><i class="fas fa-paper-plane"></i></li>
            </ul>
        </div>
        <hr class="hr-comments">
        <div class="comments-title">
            {% with comments.count as total_comments %}
            <h5>{{ total_comments }} Comentario{{ total_comments|pluralize }}</h5>
            {% endwith %}  
        </div>
        <hr class="hr-comments">
        {% for comment in comments %}
        <div class="comment-area">
            <a class="comment-replay" href="#comment-form">Responder</a>
            <p class="comment-author"> {{ comment.name }}</p>
            <p class="comment-time">{{ comment.created|date:"j F Y - G:i" }}</p>
            <p class="comment-body">{{ comment.body}}</p>
        <hr class="hr-comments">    
        </div>
        {% empty %}
            <p>No hay comentarios</p>
        {% endfor %}

        {% if new_comment %}
            <h2>Tu comentario ha sido agregado.</h2>
        {% else %}

        <div class="comments-title">
            <h5> Comentar</h5>
        </div>

        <div class="contact">
            <form method="post" action="" novalidate>
                {% csrf_token %}
                <div class="input-group input-group-icon">
                    {{ form.name }}
                    <div class="input-icon"><i class="fas fa-user"></i></div>
                    {% if form.name.errors %}
                        {{form.name.errors}}
                    {% endif %}
                </div>

                <div class="input-group input-group-icon">
                    {{form.email }}
                    <div class="input-icon">
                        <i class="fas fa-envelope"></i>
                    </div> 
                    {% if form.email.errors %}
                        {{form.email.errors}}
                    {% endif %}
                </div>

                <div class="msg">
                    <div class="input-group">{{form.body}}
                        {% if form.body.errors %}
                            {{form.body.errors}}
                        {% endif %} 
                    </div>
                </div>
                <input type="hidden" name="post" value="{{ post.pk }}">
                <div class="input-group send-reset">
                    <input type="submit" value="Enviar Comentario" />
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}